body{
  margin: 0;
  padding: 0;
  background-color: #F5F5DC;
}
.nav{
  background-color: rgb(141, 240, 132);
 display: flex;
 justify-content: space-around;
 align-items: center;
 align-content: center;
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
 padding: 10px;


}
.gatito{
  width: 60px;
  border-radius: 100px;
  cursor: pointer;
  &:hover{
    border: 1px solid rgb(19, 173, 37);
  }
}
.link{
  font-size: 25px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;

  &:hover{
    color: gray;

  }
}
.cardConteiner{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 30px;

margin-top: 20px;
}
.card{
  background-color:rgb(166, 227, 149) ;
  border: solid 1px rgb(28, 142, 89);
  border-radius: 5px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  h2{
    font-size: 20px;
    font-style: italic;
    
  }
  img{
    width: 250px;
    height: 200px;
    border-radius: 5px;
  }
}
.button{
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  font-weight: 700;
  color: rgb(46, 43, 43);
  cursor: pointer;
  margin-top: 10px;
  &:hover{
    background-color: rgb(28, 216, 69);
    color: white;
    border: solid 1px white;
  }
}
 /* detalle */

 .cartita{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  border: solid 1px black;
  margin: 20px 250px;
  border-radius: 5px;
  background-color: white;
  img{
    width: 350px;
    height: 200px;
  }
 }
 .tiendita{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
 }
 
 .botoncard{
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  button{
    padding: 0px 10px;
    cursor: pointer;
    
  }
 }
 .botona{
  margin-bottom: 30px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: chartreuse;
  cursor: pointer;
 }

 .carrito-container{
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
 }

 .cartCarrito{
  display: flex;
  align-items: center;
  text-align: start;
  gap: 15px;
  width: 100%;
  img{
    width: 50px;
  }
 }

 .cartCarrito p:last-child {
  cursor: pointer;
 }